.contacts-container {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10rem;
}

.contacts-title {
  color: var(--graphite-gray);
  font-size: 6.25rem;
}

.contacts-section {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.contacts-info,
.contacts-image {
  width: 50%;
}

.contacts-info {
padding: 1rem;
}


.contacts-info p {
  color: var(--primary-500);
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

.social-btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 4.25rem;
  margin: 0.25rem;
  padding:0;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  width: 12rem;
}

.rtgle1-social-btn,
.rtgle2-social-btn {
  border-radius: 20px;
  position: absolute;
  transition: all 0.3s;
}

.rtgle1-social-btn {
  background: var(--desert-sand);
  inset: 0 18px 8px 0;
}

.rtgle2-social-btn {
  border: 1px solid var(--primary-500);
  inset: 8px 0 0 18px;
}

#text-social-btn {
  align-items: center;
  color: var(--primary-500);
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  left: 50%;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.social-btn:hover .rtgle1-social-btn {
  background: var(--quaternary-500);
}

.social-btn:hover .rtgle2-social-btn {
  background: var(--desert-sand);
  border-color: var(--primary-500);
}

.social-btn:hover #text-social-btn {
  left: calc(50% + 1.95px);
  top: calc(75% - 11px);
}

@media (max-width: 600px) {
  .contacts-container {
    padding-top: 3rem;
  }

  .contacts-title {
    font-size: 2rem;
  }

  .hide-sm {
    display: none;
  }

  .contacts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .contacts-info {
    width: 100%;
  }

  .contacts-info p {
     font-size: 0.875rem;
     line-height: 1.45rem;
  }

  .liks-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .liks-mobile a {
    height: 2rem;
  }


}

@media (min-width: 600px) {
  .hide-lg {
    display: none;
  }
}
