.div-primary-menu {
  align-items: center;
  color: var(--primary-500);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}

.section-signature {
  font-size: 1.5rem;
}

.section-nav-items {
  display: flex;
  font-size: 1rem;
  gap: 2rem;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  cursor: pointer;
}

.section-socialmedia-items {
  display: flex;
  gap: 1rem;
}

.media-links {
  max-height: 1.875rem;
  max-width: 1.875rem;
}

.section-dropdown {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: var(--tertiary-500);
}

.closer {
  display: flex;
  width: 100%;
}

.closer img {
  margin-left: auto;
  margin-right: 1rem;
  padding: 0.25rem;
}

.closer img:hover,
.closer img:focus,
.closer img:active {
  background-color: var(--tertiary-600);
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down-enter {
  animation: slide-down 0.5s forwards;
}

/* Translate Button Style */
.translate-btn {
  background-color: transparent;
  border: var(--primary-500) 1px solid;
  border-radius: 0.25rem;
  color: var(--primary-500);
  cursor: pointer;
  font-size: 0.75rem;
  padding: 0.2rem;
  height: 2rem;
}

.translate-btn:hover {
  background-color: var(--soft-rose);
}

.translate-btn:active {
  background-color: var(--soft-rose);
  font-weight: 600;
}

@media (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 600px) {
  .hide-lg {
    display: none;
  }
}