.about-div {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
}

#about-title {
  color: var(--graphite-gray);
  font-size: 6.25rem;
}

.about-content-div {
  color: var(--primary-500);
  padding-top: 2rem;
}

.chart-section {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  line-height: 2.75rem;
}

#chart-image {
  padding: 0.25rem;
  padding-left: 6.5rem;
}

.coding-section {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  line-height: 2.75rem;
}

#coding-image {
  padding: 0.25rem;
  padding-right: 6.5rem;
}

.wireframe-section {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  line-height: 2.75rem;
}

#wireframe-image {
  padding: 0.25rem;
  padding-left: 6.5rem;
}
